.alert {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 50px;
  width: 70%;
  padding: 1rem;
  position: fixed;
  top: 25%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  box-shadow: 0 4px 1rem 0 $crl-main-grey;
  animation: slide-in 0.5s ease-in-out;
  p {
    color: white;
    font-weight: 600;
  }
  .close {
    background-color: $crl-base-blue;
    &:hover {
      background-color: white;
      color: $crl-base-blue;
    }
  }
  .icon {
    color: white;
    margin-right: 10px;
  }
}

.alert.ERROR {
  background-color: $crl-alert-error;
  .close {
    background-color: $crl-base-blue;
    opacity: 1;
    &:hover {
      background-color: white;
      color: $crl-base-blue;
    }
  }
}
.alert.SUCCESS {
  background-color: $crl-alert-success;
}

@keyframes slide-in {
  0% {
    top: 10%;
    opacity: 0.5;
  }
  100% {
    top: 25%;
    opacity: 1;
  }
}
