.btn.join-us {
  margin: 2rem auto;
  margin-bottom: auto;
  align-self: flex-end;
  color: white;
}

.btn.viewAll {
  background-color: transparent;
  color: $crl-base-blue;
  font-size: 1.4rem;
  transition: filter ease-in 0.5s;
  display: block;
  margin: 0 auto;
  &:hover {
    filter: brightness(50%);
  }
}

.btn.go-back {
  margin-left: 10%;
  display: flex;
  outline: none;
  align-items: center;
  img {
    max-height: 15px;
    margin-right: 5px;
  }
}

.btn.read-more {
  display: inline;
  background-color: transparent;
  color: $crl-base-blue;
  font-size: 1rem;
  transition: filter ease-in 0.5s;
  padding: 0;
  margin: 0;
  &:hover {
    filter: brightness(50%);
  }
}

.btn.profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  padding: 0 1.6rem;
  border-radius: 1.8rem;
  background: none;

  span {
    margin-left: 0.2rem;
  }
}
.btn.send {
  width: 100px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
