.newsletter {
  padding: 30px 10%;
  background-color: rgba(46, 70, 96, 0.8);
  left: 0px;
  top: 1995px;
  width: 100%;

  .newsletter__language {
    display: flex;
    align-items: center;
    background: rgba(147, 149, 151, 0.8);
    width: 110px;
    height: 40px;
    left: 20px;
    top: 2060px;
    border: 1px solid #2e4660;
    border-radius: 5px 0px 0px 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #f5e5d5;
    text-align: center;
  }

  .newsletter__contact,
  .newsletter__follow {
    display: flex;
    align-items: center;
    color: #f5e5d5;
    padding: 20px 0 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .newsletter__description {
    display: flex;
    color: #f5e5d5;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
  }

  .newsletter__links {
    display: flex;
    align-items: center;
    color: #f5e5d5;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 20px;
  }

  .newsletter__facebook {
    text-decoration: none;
    list-style-image: url();
  }
}
