.newsletter {
  background-image: url("./../../images/components/footer/newsletter.jpg");
  background-position: center;
  padding: 30px 10%;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    label {
      color: $crl-basic;
      margin: 10px;
      font-size: 1.3rem;
      align-self: center;
    }
    input {
      margin: 10px;
      border: none;
      outline: none;
      border-bottom: 2px solid #ffff;
      background-color: transparent;
      color: $crl-primary;
      &::placeholder {
        color: $crl-light;
      }
      &:focus {
        color: $crl-special;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
  background-color: #111;
  .logo {
    z-index: 1;
  }
  .nav-links {
    display: flex;
    flex-flow: row wrap;
    & li {
      margin-left: 15px;
    }
  }
}
