form.auth-form {
  background: #fff;
  padding: 2rem 2rem 1rem;
  max-width: 400px;
  margin: 10px auto 25px;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
  h2 {
    margin: 0 0 50px 0;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: darken(#e5e5e5, 50%);
    border-bottom: solid 1px #e5e5e5;
  }
  .form-control {
    margin: 0 0 3em 0;
    position: relative;
    &--gender {
      margin: 35px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-10px, 0px);
      .gender {
        position: relative;
        top: 0;
      }
    }
    &--lang {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin: 15px 0;
      .lang {
        position: relative;
        top: 0;
      }
    }
  }
  input,
  textarea {
    display: block;
    width: 100%;
    outline: none;
    margin: 0;
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.3rem;
    padding: 0.8rem 0.5rem;
    border-radius: 2px;
  }

  input:focus {
    background: #fff;
  }
  button {
    background: $crl-base-blue;
    box-shadow: 0 3px 0 0 darken($crl-base-blue, 10%);
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    line-height: 1.6em;
    margin: 2em 0 0;
    outline: none;
    padding: 0.8em 2rem;
    text-shadow: 0 1px #68b25b;
    margin: 0 auto;
    &:hover {
      background: rgba(148, 175, 101, 1);
      text-shadow: 0 1px 3px darken($crl-base-blue, 30%);
    }
  }
  & > label {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s ease;
    &.floatLabel {
      top: -11px;
      background-color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
    }
  }
  .auth-control {
    display: block;
    margin-top: 25px;
    text-align: center;
  }
}

form.cms {
  .main-title {
    width: 90%;
    max-width: 500px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin: 30px auto;
    font-size: 1.3rem;
  }
  .form-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: auto {
      bottom: 20px;
    }
  }

  .form-control {
    background: $crl-base-blue;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    label {
      text-align: center;
    }
  }
  .form-info {
    margin: 25px auto 0 auto;
    height: 200px;
    display: block;
    width: 90%;
    max-width: 600px;
  }
  input {
    width: 100%;
    max-width: 300px;
    &:focus {
      box-shadow: 0px 10px 10px -12px #111;
      outline: none;
    }
    &::placeholder {
      font-style: italic;
      color: rgb(187, 187, 187);
    }
  }

  textarea {
    height: 150px;
    width: 100%;
    background: $crl-base-blue;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
    &:focus {
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    }
    &::placeholder {
      font-style: italic;
      color: rgb(187, 187, 187);
    }
  }
  select,
  input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 8px 8px 0 0;
    background: $crl-base-blue;
    padding: 5px 10px;
    outline: none;
  }
  select option {
    background: $crl-base-blue;
    font-style: italic;
  }

  button {
    display: block;
    color: white;
    background-color: #1b1b1be3;
    border-radius: 0px;
    border: 1px solid black;
    outline: 1px solid black;
    outline-offset: -2px;
    padding: 10px 25px;
    margin: 25px auto;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      border: 1px solid black;
      font-weight: bold;
      background: $crl-base-blue;
      color: black;
      outline-offset: 2px;
    }
    &:focus {
      background: transparent;
      color: black;
      font-weight: bold;
    }
  }
  .editor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }
  @media (min-width: 540px) {
    .form-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    }
  }
}
