header {
  color: $crl-base;
  background: $crl-base-blue;
  width: 100%;
  position: sticky;
  z-index: 15;
  top: 0;
  transition: all 0.2s ease-in-out;

  .header-upper,
  .header-lower,
  .user {
    padding: 0;
    display: flex;
  }
  .header-upper {
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    .user {
      align-items: center;
      justify-content: center;
      .sign-up-btn {
        color: $crl-base-orange;
        background: $crl-base;
        padding: 12px 20px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        border: 2px solid $crl-base-orange;
        border-radius: 60px;
      }
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  .header-lower {
    height: 50px;
    .header-home {
      border: 1px solid $crl-base;
    }
    .header-search,
    .header-home,
    .header-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid $crl-base;
      border-bottom: 1px solid $crl-base;
      width: calc(100% / 3);
      img {
        max-height: 35px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.nav-container {
  z-index: 20;
  height: 100vh;
  min-width: 250px;
  width: 70%;
  max-width: 400px;
  background-color: $crl-main-blue;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: right;
  font-family: "Encode Sans Semi Condensed";
  font-weight: 600;

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
     }
     .inner-arrow {
       left: 30px;
     }  
  .card {
    position: relative;
    background-color: $crl-main-blue;
    color: $crl-base;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0;
    box-shadow: none;
    border: none;    

    .card-body {
      margin: 0;
      padding: 20px 0;
      background-color: $crl-main-teal;

      a,
      .card-header {
        background-color: $crl-main-teal;
        padding: 2px 40px;
        color: $crl-base;
        display: block;
        height: 100%;
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.5rem;
        &:hover {
          text-decoration: none;
        }
      }
      .inner-body {
        padding: 10px 20px;
        margin: 0;

        .inner-links {
          font-size: 1.2rem;          
        }
        .inner-links-btn {
          border: none;
          background: transparent;
          font-size: 1.25rem;
        line-height: 1.5rem;
        color: $crl-base;
        padding: 0px 40px;
        font-weight: 600;

        }
      }
    }
  }
  .card-header {
    padding: 12px 20px;
    border: none;
    background: inherit;
    cursor: pointer;
    position: relative;

    a {
      color: $crl-base;
      display: block;
      height: 100%;
      width: 100%;
      font-size: 1.5rem;
      line-height: 2rem;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
div.nav-container.active {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
.hamburger {
  display: block;
  position: relative;
  color: $crl-base;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 255;
  transition: all 0.5s ease-in-out;
}
