header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  width: 100%;
  position: fixed;
  z-index: 2;
  nav {
    .nav-container {
      height: 100% !important;
      overflow: hidden;
      transition: all 0.5s ease;
      position: fixed;
      background-color: $crl-blue;
      top: 0;
      left: 0;
      right: 0;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        li {
          display: flex;
          position: relative;
          top: 80px;
          a,
          button {
            color: $crl-basic;
            font-size: 1rem;
            text-transform: capitalize;
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.5s ease;
            font-weight: bold;
            &:hover {
              background: $crl-alert;
              color: $crl-basic;
              padding-left: 1.5rem;
            }
          }
        }
      }
    }
    div.nav-container.active {
      transform: translateX(0);
      transition: all 0.5s ease-in-out;
    }
    .hamburger {
      display: block;
      position: relative;
      color: $crl-basic;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      outline: none;
      z-index: 255;
      transition: all 0.5s ease-in-out;
      &:hover,
      &:focus {
        color: $crl-special;
        transform: scaleX(1.1);
      }
    }
  }
  
  @media screen and (min-width: 1000px) {
    nav {
      .nav-container {
        ul.nav-links {
          display: flex;
          align-items: center;
          height: 100%;
          li {
            display: inline-block;
            padding: 0 20px;
            & > a,
            button {
              color: $crl-basic;
              transition: color 0.5s ease;
              &:hover {
                color: $crl-primary;
              }
            }
          }
          &--user {
            flex-direction: column;
            position: absolute;
            top: 75px;
            left: 78%;
            background-color: $crl-default;
            height: auto;
            width: auto;
            padding: 25px;
            border-radius: 20px;
            transition: 0.5s;
            li {
              margin: 5px 0px;
              a {
                font-size: 15px;
              }
            }
          }
        }
        a.sign-in {
          color: $crl-basic;
          background-color: $crl-primary;
          padding: 0.5rem 1.5rem 0.5rem;
          font-size: 1rem;
          transition: background-color 0.5s ease-in;
          &:hover {
            background-color: $crl-special;
            color: $crl-basic;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  header {
    padding: 30px 10%;
  }
}
