.hero {
  position: relative;
  overflow-x: hidden;
  .hero__container {
    .hero__info {
      width: 100%;
      color: $crl-main-blue;
      background-color: $crl-base;
      padding: 14px 25px 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .title {
        text-transform: uppercase;
      }
      .subtitle {
        color: $crl-main-blue;
        margin: 25px 0;
        text-align: left;
        max-width: 550px;
      }
      .find-out-btn {
        width: 160px;
        height: 30px;
        background: $crl-main-blue;
        border-radius: 60px;
        color: $crl-base;
        font-weight: 500;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.02em;
        text-decoration: underline;
        margin-bottom: 10px;
      }
    }
    .img__container {
      position: relative;
      width: 100%;
      height: calc(100vh - 225px);
      overflow: hidden;
      background-color: transparent;
      img {
        position: absolute;
        width: 100%;
        height: calc(100vh - 225px);
        object-fit: cover;
        object-position: center center;
        transform: translateX(100%);
        &.active {
          animation: slide 3s linear forwards;
        }
        &.remove {
          animation: remove 3s linear forwards;
        }
      }
      .img__text {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $crl-base;
        z-index: 1;
        transform: translateX(100%);
        opacity: 0;
        p{
          color: $crl-base;
        }
        .hero-btn, .hero-btn a {
          color: $crl-base;
        }
        &.active {
          animation: slideAppear 3s linear forwards;
        }
        &.remove {
          animation: remove 3s linear forwards;
        }
      }
    }
    .hero__content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 225px);
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      color: $crl-base-blue;
      padding-top: 69px;
      .hero__item {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;

        .slidershow {
          position: absolute;
          top: 90%;
          align-self: center;
          z-index: 1;
          .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 5px;
            background-color: $crl-main-blue;
            border-radius: 50%;
            display: inline-block;
            border: 1px solid $crl-base;
            transition: background-color 0.6s ease;
            &.active {
              background-color: $crl-base;
            }
          }
          @media screen and (min-width: 1200px) {
            .dot:hover {
              background-color: $crl-base;
            }
          }
        }
      }
    }
  }
}
