.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding-top: 100px;
  min-height: calc(100vh - 201px);
}

section.home {
  article.news {
    display: flex;
    flex-flow: column wrap;
    .news__item {
      margin: 1rem 0;
      border-bottom: 2px solid $crl-line;

      .news__box {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        & img {
          max-width: 400px;
          float: left;
          padding: 22px;
        }
      }
    }
  }
}

.section.contact-page {
  padding-left: 0;
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1a1a1a;
  }
  .contact-page-content {
    display: flex;
    justify-content: center;
    padding-left: 80px;
    flex-wrap: wrap;
    form {
      width: 40%;
      margin-right: 30px;

      .form-control {
        width: 100%;
        margin-bottom: 20px;

        input {
          width: 100%;
          border: none;
          border-bottom: 1px solid rgb(223, 223, 223);
          outline: none;
          color: #5e5e5e;
        }

        label {
          color: #5e5e5e;
          font-size: 15px;
        }
      }
      #message-input {
        border: 1px solid rgb(196, 196, 196);
        padding: 5px;
        border-radius: 4px;

        input {
          border: none;
          padding-bottom: 50px;
        }
      }
    }
    .contact-page-text {
      width: 48%;
      height: 100%;
      min-width: 300px;
      max-width: 600px;
      max-height: 350px;

      p {
        font-size: 12px;
        background-color: #f1f1f1;
        border-radius: 5px;
        max-height: 350px;

        padding: 20px 15px;
      }

      .contact-page-text-icons {
        display: flex;
        padding: 10px 0;
        span {
          font-size: 14px;
          margin-right: 10px;
        }
        .contact-page-text-icon {
          color: #27ae60;
        }
      }
    }
  }
}

.events,
.blog {
  .event-slider,
  .posts-slider {
    scroll-behavior: smooth;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    .event,
    .last-posts {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: #dadada;
      min-width: 280px;
      max-width: 300px;
      margin: 10px 15px 10px;
      padding-bottom: 25px;
      & img {
        width: 100%;
      }
      .event-box,
      .last-posts-box {
        padding: 1rem;
        border-bottom: 2px solid $crl-line;
        margin-bottom: 1rem;
      }
      .event-info,
      .post-info {
        padding: 0 1rem;
        .event-control,
        .post-control {
          line-height: 25px;
          border-bottom: 2px solid $crl-line;
          text-align: center;
          width: 200px;
          margin: 0 auto;
          padding: 8px 0;
        }
      }
    }
  }
}

.blog.author__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  & > img {
    width: 25px;
    border-radius: 100%;
    padding: 0 !important;
  }
}

.blog.date {
  i {
    font-size: 0.8rem;
    color: $crl-darkin;
    font-style: italic;
    font-weight: 600;
  }
}

.blog.content {
  margin: 1rem auto;
  display: block;
}

@media only screen and (min-width: 1200px) {
  .events,
  .blog {
    .event-slider,
    .posts-slider {
      overflow: hidden;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
