.pagination{     
    a.page-link {
        color: $crl-base-blue;
    }
    .page-item.active .page-link {
        border: 1px solid $crl-base-blue;
        background: $crl-base-blue;
        color: $crl-base;
    }
}
