.saro-panel {
  padding: 0 5% 150px;
  margin: 0 auto;
  position: relative;
  max-width: 1500px;
  .breadcrumb {
    background-color: transparent;
    margin: 20px 0;
    padding: 0;
  } 
  .main-title {
    text-align: left;
    margin-bottom: 50px;
    font-size: 1.3rem;
  }  
}
