$crl-alert-success: #43a047;
$crl-alert-error: #d32f2e;

$crl-base: #f5e5d5;
$crl-base-blue: #2e4660;
$crl-base-orange: #de5241;
$crl-main-blue: #2e4660;
$crl-main-teal: #346778;
$crl-main-purple: #322f6e;
$crl-main-light: #2f6e6d;
$crl-main-green: #5d9b84;
$crl-main-grey: #f1f1f1;
$crl-main-grey-button: #939597;
$crl-main-placeholder: #808080;
