$crl-basic: #f7f6f6;
$crl-default: #2d2b2a;
$crl-primary: #38a766;
$crl-secondary: #dadada;
$crl-line: #c7c7c7;
$crl-alert: #ff5c54;
$crl-positive: #83bc65;
$crl-special: #00a4e5;
$crl-light: #deb887;
$crl-darkin: #404f1e;
$crl-light-gray: #fafafa;
$crl-shadow-gray: #4f4f4f;
$crl-alert-success: #43a047;
$crl-alert-error: #d32f2e;

$crl-base: #f5e5d5;
$crl-base-blue: #2e4660;
$crl-base-orange: #de5241;
$crl-main-blue: #2e4660;
$crl-main-teal: #346778;
$crl-main-purple: #322f6e;
$crl-main-light: #2f6e6d;
$crl-main-green: #5d9b84;
