$family-en-primary: "Encode Sans Semi Condensed", fallback, sans-serif;
$family-en-secondary: "Roboto", fallback, sans-serif;
$weight-normal: 400;
$weight-thicker: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

/* encode-sans-semi-condensed-regular - vietnamese_latin-ext_latin */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../fonts/encode-sans-semi-condensed-v5-vietnamese_latin-ext_latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../fonts/encode-sans-semi-condensed-v5-vietnamese_latin-ext_latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-semi-condensed-500 - vietnamese_latin-ext_latin */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../../fonts/encode-sans-semi-condensed-v5-vietnamese_latin-ext_latin-500.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../fonts/encode-sans-semi-condensed-v5-vietnamese_latin-ext_latin-500.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-semi-condensed-600 - vietnamese_latin-ext_latin */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../../fonts/encode-sans-semi-condensed-v5-vietnamese_latin-ext_latin-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../fonts/encode-sans-semi-condensed-v5-vietnamese_latin-ext_latin-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - vietnamese_latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../fonts/roboto-v20-vietnamese_latin-ext_latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../fonts/roboto-v20-vietnamese_latin-ext_latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - vietnamese_latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../../fonts/roboto-v20-vietnamese_latin-ext_latin-500.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../fonts/roboto-v20-vietnamese_latin-ext_latin-500.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - vietnamese_latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../../fonts/roboto-v20-vietnamese_latin-ext_latin-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../fonts/roboto-v20-vietnamese_latin-ext_latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
